.vertical-menu {
  float: left;
  width: 100px;
  padding: 30px;
  position: absolute;
  top: 0;

  left: 0;

  bottom: 0;

  height: 100%;
}

.vertical-menu a {
  display: block; /* Make the links appear below each other */
  padding-bottom: 5px;
}

.vertical-menu a:hover {
  background-color: #eee;
}

.vertical-menu a.active {
  background-color: #4caf50;
  color: white;
}
